html {
    background-image: url(images/etprojectback.png);background-size: cover;
}
.ai 
{
    font-family: cursive;
    color: black;
    border-color: bisque;
    
  
    font-size: x-large;
}
.html {
    font-family: cursive;
}
.left{
    margin-right: 20px;
}
h1 {
    margin-left: 230px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
.project {
    
   margin-left: 70px;
    display: flex;
    
}
.backbutton {
    background-color: black;
    color: aliceblue;
    margin-right: 570px;
    border: radius 20px;
    font-family: Arial, Helvetica, sans-serif;}
.print{
    border-style: initial;
    display: flex;
}

.images{
    border-style: ridge;
    border-color: black;
}

.right{
    margin-right: 70px;
    margin-top: 10px;
}
.ai{
    display: flex;
}
.expl{
    margin-left: 10px;
    margin-top: 20px;
    font-size: xx-small;
    font-family: 'Times New Roman', Times, serif;
}
.expltw{
    margin-left: 10px;
    margin-top: 20px;
    font-size: xx-small;
    font-family: 'Times New Roman', Times, serif;
}
.html{
    display: flex;
}
.print{
    display: flex;
}
.explthr{
    margin-top: 10px;
    margin-left: 10px;
    font-size: xx-small;
    font-family: 'Times New Roman', Times, serif;
}
.vex{
    display: flex;
}
.explfr{
    margin-top: 10px;
    margin-left: 10px;
    font-size: xx-small;
    font-family: 'Times New Roman', Times, serif;
}
.explfm{
    margin-left: 15px;
    margin-top: 10px;
    font-size: xx-small;
    font-family: 'Times New Roman', Times, serif;
}
.stemfair{
    display: flex;
}